openapi: 3.0.3
info:
  title: Pitney Bowes Shipping Address Shipments API
  description: The Pitney Bowes Shipping API enables businesses to integrate shipping, rating, tracking, address validation, manifesting, and pickup operations directly into their applications. Authentication uses OAuth 2.0 client credentials.
  version: '1.0'
  contact:
    name: Pitney Bowes Shipping API
    url: https://docs.shippingapi.pitneybowes.com/
servers:
- url: https://shipping-api.pitneybowes.com
  description: Production
- url: https://shipping-api-sandbox.pitneybowes.com
  description: Sandbox
security:
- oauth2: []
tags:
- name: Shipments
paths:
  /shippingservices/v1/shipments:
    post:
      summary: Create a shipment
      description: Creates a shipment and returns shipping label details.
      operationId: createShipment
      tags:
      - Shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Shipment created.
  /shippingservices/v1/shipments/{shipmentId}:
    get:
      summary: Reprint a shipment label
      operationId: reprintShipment
      tags:
      - Shipments
      parameters:
      - in: path
        name: shipmentId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Shipment label returned.
    delete:
      summary: Void a shipment
      operationId: voidShipment
      tags:
      - Shipments
      parameters:
      - in: path
        name: shipmentId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Shipment voided.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Used only on /oauth/token to obtain an access token.
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://shipping-api.pitneybowes.com/oauth/token
          scopes: {}
